@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo</h1>
</div>
<div class="p-5 mb-6 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Aplicativo Web Academia Treinee</h1>
        <p class="col-md-12 fs-4">Abaixo tem um botao de teste de popUp e um link para o private</p>
        <button class="btn btn-dark btn-lg" type="button" onclick="alert('PopUp acionada com sucesso')">Teste PopUp</button>
        <a class="btn btn-outline-dark btn-lg" asp-area="" asp-controller="Home" asp-action="Privacy">Link privado</a>
    </div>
</div>