@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">bem vindo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="p-5 mb-6 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">mercadinho da esquina</h1>
        <p class="col-md-12 fs-4">cupom de promoção acerola R$ 46,00 o Kg</p>
        <button class="btn btn-dark btn-lg" type="button" onclick="alert('cupom adquirido com sucesso  codigo 5403JS2')">adquira agora esse cupom</button>
        <a class="btn btn-dark btn-lg" asp-area="" asp-controller="Home" asp-action="Privacy">privado</a>
    </div>
</div>